
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Log-in</title>
</head>

<body>
  <h2> Welcome to mySite!</h2>
  <form action="" method="post">
      {% csrf_token %}
      <input type="text" placeholder="Username" name="user"> </br>
      <input type="password" placeholder="Password" name="passw"> </br>
      <input type="submit" value="Log-in"> </br>
  </form>
</body>
</html>