
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Search</title>
</head>

<body>
    {% if errors %}
    {% for error in errors %}
    <p style="color: red;">{{error}}</p>
    {% endfor %}
    {% endif %}

  <form action="" method="get">
    <input type="text" name="q">
    <input type="submit" value="Search">
  </form>
</body>
</html>